<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ultratracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UltraTracker">
        <activity
            android:name=".RemindersActivity">
            android:screenOrientation="portrait" />
        </activity>
        <activity
            android:name=".AddReminderActivity">
            android:screenOrientation="portrait" />
        </activity>
        <activity android:name=".AddNoteActivity" />
        <activity
            android:name=".AddWeightliftingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditRideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditFoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTaskActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>